
<html>
<head>
	<title>Cars Survey</title>
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
</head>
<body>
	<div id='wrapper'>
		<h2>Please take this brief survey!</h2>
		<div id='main_content'>
			<div id='left'>
				<input type='text' placeholder = 'Favorite car'>
				<input type='text' placeholder = 'Favorite cat'>
				<input type='text' placeholder = 'Hated car'>
				<input type='text' placeholder = 'Hated Cat'>
				<input type='text' placeholder = 'Idea for car'>
				<button value='Blah'>Submit</button>
			</div>
			<div id='right'>
				<h4>Go to:</h4>
				<ul>
					<li><a href='/'>Home</a></li>
					<li><a href='/cars'>Cars</a></li>
					<li><a href='/cats'>Cats</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>