
<html>
<head>
	<title>Counter</title>
	<link rel='stylesheet' type='text/css' href='style.css'>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />

</head>
<body>
	<div id='main'>
		<h1>Counter</h1>
		<h4>Viewed
			<%=count%>
			 times</h4> 
		<a href='/'><button id='reload'>Reload</button></a>
		<a href='/double'><button id='2x'>Double-view</button></a>
		<a href='/reset'><button id='reset'>Reset</button></a>
	</div>

</body>
</html>