<html>
<head>
	<title>Cats</title>
	<link rel='stylesheet' type='text/css' href='style.css'>
	<script></script>
</head>
<body>
	<div id='wrapper'>
		<h2>Cats!</h2>
		<div id='main_content'>
			<div id='left'>
				<img src='images/alleycat.jpg'>
				<img src='images/cheshire.jpg'>
				<img src='images/totoro.jpg'>
			</div>
			<div id='right'>
				<h4>Go to:</h4>
					<ul>
						<a href='/'><li>Home</li></a>
						<a href='/cars/new'><li>Survey</li></a>
						<a href='/cars'><li>Cars</li></a>
					</ul>
			</div>
		</div>
	</div>
</body>
</html>