
<html>
<head>
	<title>Cats</title>
	<link rel='stylesheet' type='text/css' href='style.css'>
</head>
<body>
	<div id='wrapper'>
		<div id='center'>
			<h2>Kitties!</h2>
			<a href='monster'><img class='dim' src='/images/caracal.jpg'><h4>Monster</h4></a>
			<a href='beastie'><img class='dim' src='/images/serval.jpg'><h4>Beastie</h4></a>
			<a href='killer'><img class='dim' src='/images/scotty.jpg'><h4>Killer</h4></a>
		</div>
	</div>
</body>
</html>